@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.main-bg {
  background-image: linear-gradient(
      285deg,
      rgba(57, 57, 57, 0.04) 0%,
      rgba(57, 57, 57, 0.04) 25%,
      rgba(126, 126, 126, 0.04) 25%,
      rgba(126, 126, 126, 0.04) 50%,
      rgba(80, 80, 80, 0.04) 50%,
      rgba(80, 80, 80, 0.04) 75%,
      rgba(117, 117, 117, 0.04) 75%,
      rgba(117, 117, 117, 0.04) 100%
    ),
    linear-gradient(
      333deg,
      rgba(26, 26, 26, 0.04) 0%,
      rgba(26, 26, 26, 0.04) 25%,
      rgba(154, 154, 154, 0.04) 25%,
      rgba(154, 154, 154, 0.04) 50%,
      rgba(218, 218, 218, 0.04) 50%,
      rgba(218, 218, 218, 0.04) 75%,
      rgba(91, 91, 91, 0.04) 75%,
      rgba(91, 91, 91, 0.04) 100%
    ),
    linear-gradient(
      45deg,
      rgba(14, 14, 14, 0.04) 0%,
      rgba(14, 14, 14, 0.04) 25%,
      rgba(216, 216, 216, 0.04) 25%,
      rgba(216, 216, 216, 0.04) 50%,
      rgba(44, 44, 44, 0.04) 50%,
      rgba(44, 44, 44, 0.04) 75%,
      rgba(111, 111, 111, 0.04) 75%,
      rgba(111, 111, 111, 0.04) 100%
    ),
    linear-gradient(
      251deg,
      rgba(27, 27, 27, 0.04) 0%,
      rgba(27, 27, 27, 0.04) 25%,
      rgba(107, 107, 107, 0.04) 25%,
      rgba(107, 107, 107, 0.04) 50%,
      rgba(167, 167, 167, 0.04) 50%,
      rgba(167, 167, 167, 0.04) 75%,
      rgba(34, 34, 34, 0.04) 75%,
      rgba(34, 34, 34, 0.04) 100%
    ),
    linear-gradient(
      63deg,
      rgba(114, 114, 114, 0.04) 0%,
      rgba(114, 114, 114, 0.04) 25%,
      rgba(16, 16, 16, 0.04) 25%,
      rgba(16, 16, 16, 0.04) 50%,
      rgba(190, 190, 190, 0.04) 50%,
      rgba(190, 190, 190, 0.04) 75%,
      rgba(159, 159, 159, 0.04) 75%,
      rgba(159, 159, 159, 0.04) 100%
    ),
    linear-gradient(90deg, rgb(44, 69, 142), rgb(133, 17, 234));
}
